node_modules/
.playwright-mcp/
test-results/
playwright-report/
servers.json
tunnels.json
*.log
src-tauri/target/
dist/
.DS_Store
Thumbs.db
/*.png

# tauri
src-tauri/binaries/
src-tauri/gen/
src-tauri/pocket/
